.container * {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    min-height: 90vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    /* background-image: url('../../../public/images/wedding-registry.jpg'); */
    /* background-position: center;
    background-size: cover;
    background-color: aliceblue; */
}

.desc {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    text-align: center;
    color: #333;
    justify-content: center; 
}

.cards {
    display: flex;
    gap: 2rem;
}

.card {
    /* cursor: ; */
    width: 600px;
    height: auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cardButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: black;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cardButton:hover {
    color: white;
    border-color: white;
    background-color: #333333;
}