.container * {
  font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../../public/images/login-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(255, 0, 0, 0.5); */ 
    /* opacity: 0.5; */
  } 
  
  .form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .desc {
    color: #333;
  }

  .inputGroup {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .label {
    text-align: center;
    display: block;
    font-size: 1.3rem;
    color: #555;
    margin-top: 20px;
    margin-bottom: 0.5rem;
  }
  
  .input {
    margin-top: 25px;
    width: 100%;
    padding: 0.75rem;
    background-color: #c4c9ce;
    font-size: 1rem;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input:focus {
    border-color: #232020;
    outline: none;
  }
  
  .button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: black;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    color: white;
    border-color: white;
    background: #333333;
  }
  
  .link {
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #555;
  }
  
  .registerLink {
    color: #0e0d0d;
    text-decoration: none;
    font-weight: bold;
  }
  
  .registerLink:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .phoneInputWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .success {
    text-align: center;
    color: #555;
    margin-top: 10px;
  }
/* 
  .cardButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: black;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cardButton:hover {
    color: white;
    border-color: white;
    background-color: #333333;
} */