.container {
    min-height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2rem;
    background-image: url('../../../../public/images/wedding-registry.jpg');
    background-position: center;
    background-size: cover;
}

.title {
    font-size: 1.8rem;
    text-align: left;
    padding-bottom: 15px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.desc {
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1.2rem;
    text-align: left;
    color: #333;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}


.regButton, .findButton {
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    color: black;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.findButton:hover, .regButton:hover {
    color: white;
    border-color: white;
    background-color: #333333;
}
